{% extends 'base.html' %}

{% block title %}
Create a new Tag
{% endblock %}

{% block content %}

<h1>Add a new Tag</h1>

<form method="POST">
    <div class="form-group">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
    </div>
    <div class="col-sm-4">
        <input type="text"
               name="name" 
               id="name" 
               placeholder="Enter the name of a new Tag"
               class="form-control">
    </div>
    
    <div class="form-group">
        <div class="col-sm-4">
        <button class="btn btn-success btn-lg mt-2 float-end"
                type="submit">
                Add 
        </button>
        <a href="/users" class="btn btn-outline-info btn-lg m-2 float-end">Cancel</a>
        </div>
    </div>
</form> 

{% endblock %}